.container{
    margin-top: 2%;
}

nav{
    margin-bottom: 2%;
}

.login{
    margin-top: 15%;
    margin-left: 15%;
    /* margin-right: 10%; */
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #000000;
}

#modal1 {
    width: 26%;
}

#mail, #pass{
    width: 80%;
    margin-left: 8%;
}

h4{
    margin-left: 34%;
}

.switch{
    padding-left: 24%;
    padding-top: 3%;
}

.followUpAction{
    margin-top: 2%;
    border-radius: 20px 20px 20px 20px;
    padding: 1%;
    z-index: 4px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

#addaction{
    margin-bottom: 1%;
    margin-top: 1%;
}

#actionForm{
    padding-left: 10%;
}